# Hotstrings and logfiles definitely contain personal information
**hotstrings.ahk
logs/**
**logfile*.txt

# Trivial files that link to specific locations on my windows machine
**.cmd
**.lnk

# Not working yet
double win+j in vscode.ahk
vscode pause to rerun.ahk
*execute last command.ahk

# Not really working or deprecated, not interesting for a public repo
AI whisper transcription.ahk
Archive
