# Trivial files that link to specific locations on my windows machine
**.cmd
**.lnk

# Hotstrings definitely contain personal information
**hotstrings.ahk

# Logfiles may contain personal information
**logfile*.txt
pricing-history.txt

# Not working yet
double win+j in vscode.ahk
vscode pause to rerun.ahk
*execute last command.ahk

# Not really working or deprecated, not interesting for a public repo
AI whisper transcription.ahk
Archive

# Specific workarounds for broken hardware
fix mouse double right clicking.ahk