# Hotstrings and logfiles definitely contain personal information
**hotstrings.*
logs/**
**logfile*.txt

# Trivial files that link to specific locations on my windows machine
**.cmd
**.lnk

# Not working yet
double win+j in vscode.*
vscode pause to rerun.*
*execute last command.*

# Not really working or deprecated, not interesting for a public repo
AI whisper transcription.*
Archive
